@(signup_form: Form[UserRegistration])

@import helper._


@main("SignUp"){

    <h1> Please Register Here </h1>

    @helper.form(action = routes.Application.submitUser ) {
        @inputText(
            signup_form("firstName"),
            '_label -> "First name"
        )

        @inputText(
            signup_form("middleInitial"),
            '_label -> "Middle Initial"
        )

        @inputText(
            signup_form("lastName"),
            '_label -> "Last name"
        )

        @inputText(
            signup_form("age"),
            '_label -> "Age"
        )
        
        @inputText(
            signup_form("email"),
            '_label -> "Email"
        )

        @inputPassword(
            signup_form("password"),
            '_label -> "Enter Password"
        )

        @inputPassword(
            signup_form("password2"),
            '_label -> "Confirm password"
        )

        <div>
            <input type="submit" value="Sign up">
            <a href="@routes.Application.index">Cancel</a>
        </div>
    }
}
